
:root{
  --back_color:#753f7b;
}

/*BODY*/
body {
   width: 70%;
   padding-left: 15%;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:var(--back_color);
    height:60px;
    width:auto;
}  

#view_scores {
    font-size: 18px;
    padding-left: 3%;
    padding-top: 18px;
    background: transparent;
    color: #ffffff;
    border: none;
;
}
#countdown{
    float: right;
    padding-right: 5%;
    padding-top: 8px;
    font-size: 18px;
    color: #ffffff;
}

.main_box{
    background-color: rgb(212, 191, 201);
    width:auto;
    border: 15px solid var(--back_color);
    padding: 40px;
    margin-top: 10px;
    text-align: center;
    height: auto;
  }

  p{
    font-size: 18px;
  }

  #question-nav1{
    display: none;
  }


  #start{
    background-color:var(--back_color);
    color: #ffffff;
    height: 60px;
    padding: 20px;
    font-size: 16px;
    margin-top: 10px;
  }
  .inside_box{
    background-color: lightgrey;
    width: 70%;
    border: 15px solid var(--back_color);
    padding: 40px;
    margin: auto;
  }

  #answers{
    text-align: left;
    font-size: 16px;
  }